h1 {
  text-align: center;
}
textarea#typed{
  width: 50%;
  height: 200px;
  margin-left: 25%;
}
.button{
  margin-left: 25%;
  margin-bottom: 2%;
}
button{
  border: none;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    background-color: black;
    text-align: center;
}
button#clear{
  margin-left:52.6%;
}
.counter{
  margin-left: 25%;
  margin-right: 23.7%

}
th{
  padding-top: 11px;
    padding-bottom: 11px;
    background-color: black;
    color: white;
}
td{
    text-align: left;
    padding: 8px;
}

#character{
  width: 10%;
  text-align: center;
}
#word{
  width: 10%;
  text-align: center;
}
